body{
	width: 100%;
	background-color: #F0EBC0;
	font-family: Hind, sans-serif;
}

p{
	font-size: 1em;
}

#top-module{
	border-bottom: 1px solid black;
	margin: 15px 20px;
	text-align: center;
}

#title{
	font-size: 3.5em;
	margin-bottom: 2px;
}

.motto{
	font-size: 1.5em;
	font-style: italic;
}

.contact{
	line-height: .5em;
	font-size: 1em;
	font-style: italic;
}

#menu-and-sidebar{
	display: flex;
	height: 100%;
	border: solid 1px black;
	width:80%;
	margin: 0 auto;
}

#sidebar{
	display: flex-inline;
	position: relative;
	background-color: white;
	align-items: stretch;
	/*height: 100%;*/
	width: 30%;
	border: solid 1px black;
	padding: 20px;
}

#menu{
	width: 70%;
	/*height:  100%;*/
	display: flex-inline;
	position: relative;
	padding-right: 20px;
	border: solid 1px red;
}

.module{
	padding-top: 20px;
}

.module-title{
	font-size: 1.5em;
}

#soup-module li{
	list-style: none;
}

.photo{
	width:80%;
	margin: 0 auto;
}

.caption{
	font-style: italic;
	font-size:.85em;
}

#footer{	
	padding-top:10px;
	padding-bottom: 5px;
	background-color: black;
	position: absolute;
	bottom: 0;
	width: 100%;

}

#footer p{
	text-align: center;
	color:white;
}

.box{
	background-color: #B2E2E0;
}


/*textured background like old building, cream*/