#filler{
	width:80%;
	margin: 0 auto;
}

body{
	width: 100%;
	background-color: #F0EBC0;
}

#top{
	background-color: black;
	color:white;
}

p{
	font-size:1em;
}

#headline{
	font-family: Hind, sans-serif;
	font-size: 3.5em;
	text-align: center;
	margin-bottom: 2px;
}

#byline{
	font-family: Hind, sans-serif;
	font-size: 1.5em;
	text-align: center;
	font-style: italic;
}

.chapter-top{
	font-family: Hind, sans-serif;
	font-size: 2em;
}

.photo{
	width:80%;
	margin: 0 auto;
}

.caption{
	font-style: italic;
	font-size:.85em;
}

.photo-cred{
	margin-left: 5px;
	text-transform: uppercase;

}

#footer{	
	padding-top:10px;
	padding-bottom: 5px;
	background-color: black;
}

#footer p{
	text-align: center;
	color:white;

}

.box{
	background-color: #B2E2E0;
}
.container p{
	text-align: center
}

/*textured background like old building, cream*/